<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>CIC | @Page.Title </title>
        <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
        <script src="~/Scripts/modernizr-2.6.2.js"></script>
        <!-- Bootstrap -->
        <link href="Bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="~/Content/justified-nav.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>

    <body>
        
        <header>
            <div class="content-wrapper">
                <!--<div class="float-left">
                    <p class="site-title"><a href="~/">Computer Innovation Club</a></p>
                </div>-->
                <div class="float-right">
                    <!--<section id="login">
                        @if (WebSecurity.IsAuthenticated) {
                            <text>
                                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                                <form id="logoutForm" action="~/Account/Logout" method="post">
                                    @AntiForgery.GetHtml()
                                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                                </form>
                            </text>
                        } else {
                            <ul>
                                <li><a href="~/Account/Register">Register</a></li>
                                <li><a href="~/Account/Login">Log in</a></li>
                            </ul>
                        }
                    </section>
                    
                    <nav>
                        <ul id="menu">
                            <li><a href="~/">Home</a></li>
                            <li><a href="~/About">About</a></li>
                            <li><a href="~/Projects">Projects</a></li>
                            <li><a href="~/Tutorials">Tutorials</a></li>
                            <li><a href="~/Contact">Contact</a></li>
                        </ul>
                     @RenderSection("featured", required: false)
                    </nav>-->
                    <!--Carousel Nav-->
                        <div class="navbar-wrapper">
                          <div class="container">

                            <nav class="navbar navbar-inverse navbar-static-top">
                              <div class="container">
                                <div class="navbar-header">
                                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                  </button>
                                  <a class="navbar-brand" href="~/">Computer Innovation Club</a>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                  <ul class="nav navbar-nav navbar-right">
                                    <li class="active"><a href="~/">Home</a></li>
                                    <li><a href="~/Projects">Projects</a></li>
                                    <li class="dropdown">
                                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tutorials <span class="caret"></span></a>
                                      <ul class="dropdown-menu" role="menu">
                                        <li><a href="~/Tutorials">Tutorial 1</a></li>
                                        <li><a href="#">Tutorial 1</a></li>
                                        <li><a href="#">Tutorial 1</a></li>
                                        <li class="divider"></li>
                                        <li class="dropdown-header">Nav header</li>
                                        <li><a href="#">Another Tutorial</a></li>
                                        <li><a href="#">Another Tutorial</a></li>
                                      </ul>
                                    </li>
                                    <li><a href="~/Contact">Contact</a></li>
                                  </ul>
                                </div>
                              </div>
                            </nav>

                          </div>
                    <!-- end Carousel Nav-->

                    <!--<div class="masthead">
                        <h3 class="text-muted">Computer Innovation Club</h3>
                        <nav>
                            <ul class="nav nav-justified">
                            <li class="active"><a href="~/">Home</a></li>
                            <li><a href="~/Projects">Projects</a></li>
                            <li><a href="~/Tutorials">Tutorials</a></li>
                            <li><a href="~/About">About</a></li>
                            <li><a href="~/Contact">Contact</a></li>
                            </ul>
                        </nav>
                    </div> end masthead -->
                </div>
            </div>
            </div> <!-- /end Content Wrapper-->
        </header>
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
           
        </div>
        <footer>
            <br>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Computer Innovation Club</p>
                </div>
            </div>
        </footer>
        @RenderSection("Scripts", required: false)
        

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="Bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>